.brand-name {
  text-decoration: none;
}

.brand-name h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
  margin: 0;
  line-height: inherit;
}

#breadcrumbs {
  color: #95989A;
  font-size: 14px;
  font-weight: 300;
}

.breadcrumb {
  text-decoration: none;
  margin: 0;
  padding: 0;
  background: none;
  font-weight: 400;
}

.underlined {
  color: #383838;
  position: relative;
}

.underlined:active {
  color: #38AEE8;
}

@media(min-width: 768px) {
  .underlined:after {
    content: '';
    width: 0;
    height: 1px;
    position: absolute;
    bottom: -2px;
    left: calc(50% + 1px);
    background-color: #383838;
    transition: left .1s ease-in-out, width .1s ease-in-out;
  }

  .underlined:hover:after {
    width: calc(100% + 2px);
    left: -1px;
  }

  .underlined:active:after {
    background-color: #38AEE8;
  }
}

@media (min-width: 768px) {
  .brand-name h1 {
    font-size: 20px;
  }
}

@media (min-width: 992px) {
  .brand-name h1 {
    font-size: 22px;
  }

  #breadcrumbs {
    font-size: 16px;
  }
}
