.navbar-brand {
  font-family: 'Roboto Slab', serif;
  color: #95989A;
  padding: 0;
  margin: 0 !important;
  line-height: 54px;
}

.navbar-brand:hover,
.breadcrumb:hover {
  color: #383838;
}

.navbar-brand:active,
.breadcrumb:active {
  color: #38AEE8;
}

.navbar-brand > span{
  font-weight: 100;
}

#breadcrumbs {
  color: #95989A;
  line-height: 54px;
  font-size: 14px;
  font-weight: 300;
}

.breadcrumb {
  color: #95989A;
  text-decoration: none;
}

.breadcrumb {
  margin: 0 10px 0 5px;;
  padding: 0;
  background: none;
}

@media (min-width: 576px) {
  .navbar-brand,
  #breadcrumbs {
    line-height: 68px;
  }

  #breadcrumbs {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .navbar-brand,
  #breadcrumbs {
    line-height: 68px;
  }
}

@media (min-width: 992px) {
  .navbar-brand,
  #breadcrumbs {
    line-height: 80px;
  }

  #breadcrumbs {
    font-size: 18px;
  }
}
