@media(max-width: 575px) {
  .container {
    padding: 0;
  }
}

.location-icon > path {
  fill: #38AEE8;
}

.address {
  margin-top: 10px;
}

@media(min-width: 576px) {
  .address {
    margin-top: 12px;
  }
}

.address > .location-icon {
  height: 50px;
}

.address-text {
  color: rgba(0,0,0,.5);
  font-family: 'Roboto', serif;
}

@media(max-width: 991px) {
  .map {
    margin-top: 26px;
    position: relative;
  }
}

.phone-email-links {
  margin: 50px 0;
}

@media(min-width: 992px) {
  .phone-email-links {
    margin: 60px 0;
  }
}

.phone-link {
  background: linear-gradient(100deg, #0DB8C6, #38E1E8);
  background-size: calc(100% + 500px), 1px;
  background-position: -500px;
}

.phone-link:hover {
  background-position: 0;
}

/*.phone-icon {
  width: 35px;
  height: 35px;
  margin-right: 12px;
}

.phone-icon .cls-1 {
  fill: rgba(256,256,256,.5);
}

@media(min-width: 992px){
  .phone-icon {
    width: 45px;
    height: 45px;
    margin-right: 18px;
  }
}*/

.email-link {
  background: linear-gradient(100deg, #0D89C6, #38AEE8);
  background-size: calc(100% + 500px), 1px;
  background-position: -500px;
}

.email-link:hover {
  background-position: 0;
}
