<div class="social-links d-flex justify-content-around justify-content-sm-center">
  <a href="http://www.ebay.com/usr/tcgempire_pt" target="_blank" class="social-link d-flex flex-column align-items-center"><img src="assets/img/ebay-icon.svg" alt="Ebay icon"><span>ebay</span></a>
  <a href="https://www.youtube.com/user/TcgEmpire" target="_blank" class="social-link d-flex flex-column align-items-center"><img src="assets/img/youtube-icon.svg" alt="Youtube icon"><span>youtube</span></a>
  <a href="https://www.twitch.tv/tcg_empire" target="_blank" class="social-link d-flex flex-column align-items-center"><img src="assets/img/twitch-icon.svg" alt="Twitch icon"><span>twitch</span></a>
  <a href="https://en.pokemoncardmarket.eu/?mainPage=browseUserProducts&idUser=1162438" target="_blank" class="social-link d-flex flex-column align-items-center"><img src="assets/img/cardmarket-icon.svg" alt="Cardmarket icon"><span>cardmarket</span></a>
  <a href="https://www.facebook.com/TcgEmpire/" target="_blank" class="social-link d-flex flex-column align-items-center"><img src="assets/img/facebook-icon.svg" alt="Facebook icon"><span>facebook</span></a>
</div>
