<div class="social-links d-flex justify-content-around justify-content-sm-center">
  <a class="social-link d-flex justify-content-center align-items-center"><span>ebay</span></a>
  <a class="social-link d-flex justify-content-center align-items-center"><span>youtube</span></a>
  <a class="social-link d-flex justify-content-center align-items-center"><span>twitch</span></a>
  <a class="social-link d-flex justify-content-center align-items-center"><span>cardmarket</span></a>
  <a class="social-link d-flex justify-content-center align-items-center"><span>facebook</span></a>
</div>
