<footer class="flex-container">
  <div id="footer-left" class="flex-container">
    <img [src]="pikachu_img_path" alt="Pikachu">
    <span>&copy; 2017 TGC Empire</span>
  </div>
  <div id="footer-middle" class="flex-container">
    <a class="footer-link" href="#">Privacy</a>
    <a class="footer-link" href="#">Policy</a>
    <a class="footer-link" href="#">Terms</a>
  </div>
  <div id="footer-right">
    <div class="flex-container">
      <img class="small-icon" [src]="location_img_path" alt="">
      <span>Rua Filipe 21</span>
    </div>
    <div class="flex-container">
      <img class="small-icon" [src]="tele_img_path" alt="">
      <span>666 666 666</span>
    </div>
  </div>
</footer>
