footer {
  width: 100%;
  height: 90px;
  background-color: #333333;
  color: #95989A;
  font-weight: 300;
  position: absolute;
  bottom: 0;
}

@media(min-width: 768px) {
  footer {
    height: 80px;
  }
}

.mascot {
  height: 45px;
}

.copy {
  font-size: 11px;
}

.footer-link {
  text-decoration: none;
  color: #95989A;
}

.footer-link,
.footer-contact-info {
  font-size: 13px;
}

@media(min-width: 768px) {
  .copy {
    font-size: 12px;
  }

  .footer-link,
  .footer-contact-info {
    font-size: 15px;
  }
}

.small-icon {
  width: 12px;
}
