#masterball-grayscale {
  opacity: .4;
  height: 50px;
  width: 50px;
  animation: catch 1.5s linear infinite;
  transform-origin: center;
}

@keyframes catch {
  0%, 33%, 45%, 55%, 66%, 100% { transform: rotate(0) translateX(0) translateY(0); }
  40% { transform: rotate(-25deg) translateX(-10px) translateY(-3px); }
  50% { transform: rotate(20deg) translateX(8px) translateY(-2.5px); }
  60% { transform: rotate(-10deg) translateX(-5px) translateY(-2px); }
}
