<header class="fixed-top">
  <div class="container">
    <nav class="navbar navbar-expand-md">
      <div class="navbar-brand h-100 d-flex align-items-center" data-toggle="collapse" data-target="#navbar.show">
        <a id="logoImg" routerLink="/">
          <img [src]="logo_big_path" class="d-inline-block align-top" alt="Logo">
        </a>
        <app-breadcrumb class="d-inline-block align-top"></app-breadcrumb>
      </div>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbar" data-toggle="collapse" data-target="#navbar.show">
        <div class="navbar-nav ml-auto">
          <a class="nav-item" routerLink="/events"> Events </a>
          <a class="nav-item" routerLink="/blog"> Blog </a>
          <a class="nav-item" routerLink="/contact"> Contact </a>
          <a class="nav-item" routerLink="/about"> About </a>
        </div>
      </div>
    </nav>
  </div>
</header>
