<section id="shopIntroduction" class="text-center">
  <div class="container">
    <h2>The shop</h2>
    <div class="row align-items-center">
      <div class="cards col-sm-6 offset-sm-3 col-md-5">
        <!-- <span *ngFor="let card of [1, 2, 3, 4, 5, 6, 7, 8, 9]"
              class="card">
          {{ card }}
        </span> -->
        <div class="row">
          <div class="card col-3">0</div>
          <div class="card col-3">0</div>
          <div class="card col-3">0</div>
          <div class="card col-3">0</div>
          <div class="card col-3">0</div>
          <div class="card col-3">0</div>
          <div class="card col-3">0</div>
          <div class="card col-3">0</div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <p class="lead font-weight-light">
          We offer all the trading card games the heart desires.
        </p>
        <button type="button" class="btn btn-secondary">Find us</button>
        <p class="lead font-weight-light">
          to see what other goodies we have in store
        </p>
      </div>
    </div>
  </div>

</section>
