#shopIntroduction {
  background: linear-gradient(100deg, #0D89C6, #5fbdec);
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
}

#shopIntroduction button {
  margin: 10px 0;
}

@media(min-width: 576px) {
  #shopIntroduction {
    padding-top: 35px;
    padding-bottom: 35px;
  }

  #shopIntroduction button {
    margin: 12px 0;
  }
}

@media(min-width: 768px) {
  #shopIntroduction {
    padding-top: 42px;
    padding-bottom: 42px;
  }
}

@media(min-width: 992px) {
  #shopIntroduction {
    padding-top: 45px;
    padding-bottom: 45px;
  }

  #shopIntroduction button {
    margin: 16px 0;
  }
}

.cards {
  margin: 12px 0;
}

.card {
  margin: 8px;
  height: 100px;
  background-color: rgba(256, 256, 256, .9);
  border-radius: 8px;
  border: none;
  color: rgba(0,0,0,.05);
  font-size: 68px;
  font-family: 'Roboto Slab', serif;
}

@media(min-width: 576px) {
  .cards {
    margin: 15px 0;
  }

  .card {
    margin: 10px;
    height: 120px;
  }
}

@media(min-width: 768px) {
  .cards {
    margin: 18px 0;
  }

  .card {
    height: 130px;
  }
}

@media(min-width: 992px) {
  .cards {
    margin: 22px 0;
  }
}

@media(min-width: 1200px) {
  .col-xl-offset-1 {
    margin-left: 8.333333%;
  }
}
