#shopIntroduction {
  background: linear-gradient(100deg, #0D89C6, #38AEE8);
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
}

#shopIntroduction p {
  max-width: 300px;
  margin: 0 auto;
}

#shopIntroduction button {
  margin: 12px 0;
}

@media(min-width: 576px) {
  #shopIntroduction p {
    max-width: 350px;
  }

  #shopIntroduction button {
    margin: 14px 0;
  }
}

@media(min-width: 768px) {
  #shopIntroduction p {
    max-width: 400px;
  }
}

@media(min-width: 992px) {

}

.cards {
  // margin: 15px auto;
}

.cards .card {
  width: 75px;
  height: 110px;
  background-color: rgba(256, 256, 256, .9);
  border-radius: 8px;
  color: rgba(0,0,0,.05);
  font-size: 68px;
  font-family: 'Roboto Slab', serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media(min-width: 576px) {
  .cards {
    margin: 18px auto;
  }

  .cards .card {
    width: 80px;
    height: 120px;
  }
}

@media(min-width: 992px) {

}
