#banner {
  background-image: url("/assets/img/banner_img_xs.png");
  background-position: 50% 50%;
  height: 240px;
  width: 100%;
  padding: 32px 0;
  color: #EDEDED;
}

#banner p {
  max-width: 276px;
  margin: 6px auto 18px;
}

@media (min-width: 576px) {
  #banner {
    background-image: url("/assets/img/banner_img_sm.png");
    height: 300px;
    padding: 45px 0;
  }

  #banner p {
    max-width: 340px;
    margin: 10px auto 26px;
  }
}

@media (min-width: 768px) {
  #banner {
    background-image: url("/assets/img/banner_img_md.png");
    height: 356px;
    padding: 72px 0;
  }
}

@media (min-width: 992px) {
  #banner {
    background-image: url("/assets/img/banner_img_lg.png");
    padding: 68px 0;
  }
}

@media(min-width: 1200px) {
  #banner {
    background-image: url("/assets/img/banner_img_xl.png");
  }
}

h1 {
  font-size: 60px;
}

@media(min-width: 576px) {
  h1 {
    font-size: 70px;
  }
}

@media(min-width: 992px) {
  h1 {
    font-size: 80px;
  }
}
