#phoneEmailLink {
  height: 114px;
  width: 100%;
}

#phoneEmailLink > a {
  background: linear-gradient(100deg, #F2384D, #FF6666);
  background-size: calc(100% + 500px), 1px;
  background-position: -500px;
  color: white;
  font-size: 40px;
  text-decoration: none;
  transition: all .1s ease-in-out;
}

#phoneEmailLink > a:hover {
  background-position: 0px;
}

@media(min-width: 992px) {
  #phoneEmailLink {
    height: 140px;
  }
}

.phone-icon {
  width: 45px;
  height: 45px;
  margin-right: 18px;
}

.phone-icon .cls-1 {
  fill: rgba(256,256,256,.5);
}
