#phoneEmailLink > .btn-full-width {
  background: linear-gradient(100deg, #F2384D, #FF6666);
  background-size: calc(100% + 500px), 1px;
  background-position: -500px;
}

/* To prevent poor hover state on mobile */
@media(min-width: 992px) {
  #phoneEmailLink > .btn-full-width:hover {
    background-position: 0px;
  }
}
