/*header {
  height: 54px;
  background-color: rgba(256,256,256,.95);
  border: none;
  margin: 0;
}

@media (min-width: 576px) {
  header {
    height: 68px;
  }
}

@media (min-width: 992px) {
  header {
    height: 80px;
  }
}*/
