.navbar-default {
  height: 54px;
  background: none;
  border: none;
}

@media (min-width: 768px) {
  .navbar-default {
    height: 68px;
  }
}

@media (min-width: 992px) {
  .navbar-default {
    height: 80px;
  }
}
