.loader-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 24vh;
}

.loader-container .loader {
  border: 3px solid #F3F3F3;
  border-top: 3px solid rgba(56, 174, 232, .85);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader-container .loader-text {
  margin-top: 8px;
  color: #989898;
  font-weight: 200;
}
