#theShop {
  background: linear-gradient(100deg, #0D89C6, #5fbdec);
  color: white;
}

#theShop button {
  margin: 6px 0;
}

@media(min-width: 576px) {
  #theShop button {
    margin: 8px 0;
  }
}

@media(min-width: 992px) {
  #theShop button {
    margin: 12px 0;
  }
}

.game-icon {
  height: 40px;
}

@media(min-width: 576px) {
  .game-icon {
    height: 48px;
  }
}

@media(min-width: 768px) {
  .game-icon {
    height: 54px;
  }
}

@media(min-width: 992px) {
  .game-icon {
    height: 58px;
  }
}

@media(min-width: 1200px) {
  .game-icon {
    height: 64px;
  }
}
