<section id="theShop" class="home-section text-center">
  <div class="container">
    <h2 class="home-heading">The shop</h2>
    <div class="row justify-content-center align-items-center">
      <div class="cards col-8 col-lg-12 col-xl-10">
        <div class="row justify-content-center no-gutters">
          <div class="col-4 col-sm-4 col-md-3 col-lg">
            <div class="card d-flex justify-content-center">S</div>
          </div>
          <div class="col-4 col-md-3 col-lg">
            <div class="card d-flex justify-content-center">O</div>
          </div>
          <div class="col-4 col-md-3 col-lg">
            <div class="card d-flex justify-content-center">O</div>
          </div>
          <div class="col-4 col-md-3 col-lg">
            <div class="card d-flex justify-content-center">O</div>
          </div>
          <div class="col-4 col-md-3 col-lg">
            <div class="card d-flex justify-content-center">O</div>
          </div>
          <div class="col-4 col-md-3 col-lg">
            <div class="card d-flex justify-content-center">O</div>
          </div>
          <div class="col-4 col-md-3 col-lg">
            <div class="card d-flex justify-content-center">O</div>
          </div>
          <div class="col-4 col-md-3 col-lg">
            <div class="card d-flex justify-content-center">N</div>
          </div>
        </div>
      </div>
      <div class="col-8 col-md-7 col-lg-6 col-xl-5">
        <p class="lead font-weight-light">
          We offer all the trading card games the heart desires.
        </p>
        <a href="#findUs"><button type="button" class="btn btn-secondary">Find us</button></a>
        <p class="lead font-weight-light">
          to see what other goodies we have in store
        </p>
      </div>
    </div>
  </div>

</section>
