html {
  position: relative; /* For sticky footer */
  min-height: 100%; /* For sticky footer */
}

body {
  padding-top: 54px; /* Space for header */
  padding-bottom: 90px; /* Space for footer */
  font-family: 'Roboto', sans-serif;
}

@media (min-width: 576px) {
  body {
    padding-top: 68px;  /* Space for header */
  }
}

@media (min-width: 768px) {
  body {
    padding-bottom: 80px; /* Space for footer */
  }
}

@media (min-width: 992px) {
  body {
    padding-top: 80px;  /* Space for header */
  }
}

p {
  margin: 0;
}

h1, h2, h3 {
  font-family: 'Roboto Slab', serif;
  margin: 0;
}

h2 {
  font-size: 48px;
}

@media(min-width: 768px) {
  h2 {
    font-size: 60px;
  }
}

.lead {
  font-family: 'Roboto Slab', serif;
  font-size: 1rem;
}

@media(min-width: 576px) {
  .lead {
    font-size: 18px;
  }
}

@media(min-width: 992px) {
  .lead {
    font-size: 20px;
  }
}

.font-weight-light {
  font-weight: 100;
}

.font-weight-normal {
  font-weight: 300;
}

.font-weight-bold {
  font-weight: 700;
}

.btn {
  font-size: 16px;
  font-weight: 300;
  padding: 4px 20px;
  border-radius: 18px;
  border: none;
  transition: all .1s ease-in-out;
  cursor: pointer
}

@media(min-width: 576px) {
  .btn {
    font-size: 18px;
  }
}

@media(min-width: 992px) {
  .btn {
    font-size: 20px;
  }
}

@media(min-width: 1200px) {
  .btn {
    font-size: 22px;
  }
}

.btn:active,
.btn:focus,
.btn:active:focus,
.btn:hover,
.btn:hover:focus {
  outline: none;
  color: inherit;
  box-shadow: none;
}

.btn-highlight {
  color: white;
  background-color: #FF5555;
}

.btn-highlight:hover {
  background-color: #F2384D;
}

.btn-secondary,
.btn-secondary:focus,
.btn-secondary:active:focus {
  color: #383838;
  background-color: #FFD972
}

.btn-secondary:hover,
.btn-secondary:hover:focus {
  color: #383838;
  background-color: #ffc933;
}

.loader-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loader-container .loader {
  border: 5px solid #F3F3F3;
  border-top: 5px solid #38AEE8;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Home */

.home-section {
  padding-top: 30px;
  padding-bottom: 30px;
}

@media(min-width: 576px) {
  .home-section {
    padding-top: 35px;
    padding-bottom: 35px;
  }
}

@media(min-width: 768px) {
  .home-section {
    padding-top: 42px;
    padding-bottom: 42px;
  }
}

@media(min-width: 992px) {
  .home-section {
    padding-top: 45px;
    padding-bottom: 45px;
  }
}

.home-heading {
  margin-bottom: 12px;
}

@media(min-width: 576px) {
  .home-heading {
    margin-bottom: 15px;
  }
}

@media(min-width: 768px) {
  .home-heading {
    margin-bottom: 18px;
  }
}

@media(min-width: 992px) {
  .home-heading {
    margin-bottom: 22px;
  }
}

@@media (min-width: 1200px) {
  .home-heading {
    margin-bottom: 25px;
  }
}

app-root {

}
