html {
  position: relative; /* For sticky footer */
  min-height: 100%; /* For sticky footer */
}

body {
  padding-top: 54px; /* Space for header */
  padding-bottom: 90px; /* Space for footer */
  font-family: 'Roboto', sans-serif;
}

@media (min-width: 576px) {
  body {
    padding-top: 68px;  /* Space for header */
  }
}

@media (min-width: 768px) {
  body {
    padding-bottom: 80px; /* Space for footer */
  }
}

@media (min-width: 992px) {
  body {
    padding-top: 80px;  /* Space for header */
  }
}

p {
  margin: 0;
}

h1, h2, h3 {
  font-family: 'Roboto Slab', serif;
  margin: 0;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
}

@media(min-width: 768px) {
  h2 {
    font-size: 60px;
  }

  h3 {
    font-size: 44px;
  }
}

.page-heading {
  margin-top: 24px;
  margin-bottom: 70px; /* Accounting for after element's offset */
  position: relative;
}

@media(min-width: 576px) {
  .page-heading {
    margin-top: 30px;
    margin-bottom: 80px;
  }
}

@media(min-width: 768px) {
  .page-heading {
    margin-top: 40px;
    margin-bottom: 100px;
  }
}

.page-heading .page-heading-underline {
  height: 4px;
  width: 120px;
  background-color: #FF5555;
  margin-top: 20px;
}

@media(min-width: 576px) {
  .page-heading .page-heading-underline {
    /*bottom: -30px;*/
    margin-top: 26px;
  }
}

@media(min-width: 768px) {
  .page-heading .page-heading-underline {
    height: 5px;
    width: 150px;
    /*bottom: -36px;*/
    margin-top: 32px;
  }
}


.lead {
  font-family: 'Roboto Slab', serif;
  font-size: 1rem;
}

@media(min-width: 576px) {
  .lead {
    font-size: 18px;
  }
}

@media(min-width: 992px) {
  .lead {
    font-size: 20px;
  }
}

.font-weight-light {
  font-weight: 100;
}

.font-weight-normal {
  font-weight: 300;
}

.font-weight-bold {
  font-weight: 700;
}

.btn {
  font-size: 16px;
  font-weight: 300;
  padding: 4px 20px;
  border-radius: 18px;
  border: none;
  transition: all .1s ease-in-out;
  cursor: pointer
}

@media(min-width: 576px) {
  .btn {
    font-size: 18px;
  }
}

@media(min-width: 992px) {
  .btn {
    font-size: 20px;
  }
}

@media(min-width: 1200px) {
  .btn {
    font-size: 22px;
  }
}

.btn:active,
.btn:focus,
.btn:active:focus,
.btn:hover,
.btn:hover:focus {
  outline: none;
  color: inherit;
  box-shadow: none;
}

.btn-highlight {
  color: white;
  background-color: #FF5555;
}

.btn-secondary,
.btn-secondary:focus,
.btn-secondary:active:focus,
.btn-secondary:hover,
.btn-secondary:hover:focus {
  color: #383838;
  background-color: #FFD972
}

/* To prevent poor hover state on mobile */
@media(min-width: 768px) {
  .btn-highlight:hover {
    background-color: #F2384D;
  }

  .btn-secondary:hover,
  .btn-secondary:hover:focus {
    color: #383838;
    background-color: #ffc933;
  }
}

a.btn-full-width {
  height: 114px;
  width: 100%;
  color: white;
  font-size: 30px;
  text-decoration: none;
  transition: all .1s ease-in-out;
}

a.btn-full-width > .phone-icon {
  width: 35px;
  height: 35px;
  margin-right: 12px;
}

a.btn-full-width > .phone-icon .cls-1 {
  fill: rgba(256,256,256,.5);
}

/*a.btn-full-width.btn-full-width-turquois {
  background: linear-gradient(100deg, #0DB8C6, #38E1E8);
  background-size: calc(100% + 500px), 1px;
  background-position: -500px;
}

a.btn-full-width.btn-full-width-blue {
  background: linear-gradient(100deg, #0D89C6, #38AEE8);
  background-size: calc(100% + 500px), 1px;
  background-position: -500px;
}

a.btn-full-width:hover {
  background-position: 0px;
}*/

@media(min-width: 992px) {
  a.btn-full-width {
    height: 140px;
    font-size: 40px;
  }

  a.btn-full-width > .phone-icon {
    width: 45px;
    height: 45px;
    margin-right: 18px;
  }
}

.mt-10 {
  margin-top: 50px;
}

.mb-10 {
  margin-bottom: 50px;
}

@media(min-width: 992px) {
  .mt-10 {
    margin-top: 80px;
  }

  .mb-10 {
    margin-bottom: 80px;
  }
}

.loader-container {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loader-container .loader {
  border: 5px solid #F3F3F3;
  border-top: 5px solid #CCCCCC;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Home */

.home-section {
  padding-top: 30px;
  padding-bottom: 30px;
}

@media(min-width: 576px) {
  .home-section {
    padding-top: 35px;
    padding-bottom: 35px;
  }
}

@media(min-width: 768px) {
  .home-section {
    padding-top: 42px;
    padding-bottom: 42px;
  }
}

@media(min-width: 992px) {
  .home-section {
    padding-top: 45px;
    padding-bottom: 45px;
  }
}

.home-heading {
  margin-bottom: 12px;
}

@media(min-width: 576px) {
  .home-heading {
    margin-bottom: 15px;
  }
}

@media(min-width: 768px) {
  .home-heading {
    margin-bottom: 18px;
  }
}

@media(min-width: 992px) {
  .home-heading {
    margin-bottom: 22px;
  }
}

@@media (min-width: 1200px) {
  .home-heading {
    margin-bottom: 25px;
  }
}
