/* You can add global styles to this file, and also import other style files */
/** {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
  font-family: 'Roboto Slab', serif;
}

h1 {
  font-size: 60px;
}

h3 {
  font-size: 20px;
}

a {
  all: unset;
}*/

/*.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}*/

body {
  padding-top: 100px;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
  font-family: 'Roboto Slab', serif;
}

.loader-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loader-container .loader {
  border: 5px solid #F3F3F3;
  border-top: 5px solid #38AEE8;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* To be deleted */
/*main {
  padding: 20vh 70px;
  width: 100%;
  min-height: calc(100vh - 100px);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}*/
