#aboutUs {
  background: linear-gradient(100deg, rgba(47, 60, 131, .78), rgba(98, 118, 234, .78));
  color: white;
}

.people-descriptions {
  margin-top: 18px;
  margin-bottom: 20px;
}

@media(min-width: 768px) {
  .people-descriptions {
    margin-bottom: 22px;
  }
}

@media(min-width: 992px) {
  .people-descriptions {
    margin-top: 22px;
    margin-bottom: 24px;
  }
}

@media(min-width: 1200px) {
  .people-descriptions {
    margin-top: 25px;
    margin-bottom: 30px;
  }
}

.people-description-head > img {
  height: 80px;
  width: 80px;
}

@media(max-width: 575px) {
  .people-description-head {
    margin-left: auto;
  }
}

@media(min-width: 992px) {
  .people-description-head > img {
    height: 100px;
    width: 100px;
  }
}

.people-description-body {
  font-size: .85rem;
  color: rgba(256,256,256,.75);
}

@media(max-width: 575px) {
  .people-description-body {
    margin-right: auto;
  }
}

@media(min-width: 576px) {
  .people-description-body {
    margin-top: 8px;
  }
}

@media(min-width: 768px) {
  .people-description-body {
    margin-top: 10px;
  }
}

@media(min-width: 992px) {
  .people-description-body {
    font-size: 1rem;
    margin-top: 12px;
  }
}
