<section id="homeEvents" class="home-section text-center">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <h2 class="home-heading col-12 col-sm-5 col-xl-4">We<br>organise<br>weekly<br>events ...</h2>
      <div class="col-12 col-sm-7 col-md-5 col-xl-4 d-flex justify-content-center mt-3 mt-sm-0">
        <div class="d-flex flex-column align-items-end">
          <span class="weekday mr-3">MO</span>
          <span class="weekday mr-3 mt-3">WED</span>
          <span class="weekday mr-3 mt-3">FRI</span>
        </div>
        <div>
          <div class="d-flex flex-column align-items-start justify-content-center">
            <span class="event-time">10 AM - 7 PM</span>
            <span class="event-name">Fucking Monday</span>
          </div>
          <div class="mt-3 d-flex flex-column align-items-start justify-content-center">
            <span class="event-time">7 AM - Sunrise</span>
            <span class="event-name">Schnittwoch</span>
          </div>
          <div class="mt-3 d-flex flex-column align-items-start justify-content-center">
            <span class="event-time">4 PM - 10 PM</span>
            <span class="event-name">Weekly Tournament</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
