<section id="homeBlog" class="home-section text-center">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="order-2 order-sm-1 col-12 col-sm-7 col-xl-4 mt-3 d-flex flex-column align-items-center justify-content-center">
        <h5 class="d-none d-sm-block">Recent</h5>
        <div class="home-article-list d-flex flex-column justify-content-center">
          <div *ngFor="let article of articles" routerLink="/blog/{{ article.slug }}" class="home-article d-flex flex-column align-items-start text-left mt-3">
            <span class="home-article-author">{{ article.author }}</span>
            <span class="home-article-title">{{ article.title }}</span>
          </div>
        </div>
        <div class="d-sm-none mt-4">
          <button type="button" class="btn btn-highlight" routerLink="/blog">See more</button>
        </div>
      </div>
      <div class="order-1 order-sm-2 col-12 col-sm-5 col-xl-4 d-flex flex-column justify-content">
        <h2 class="home-heading">... and<br>maintain<br>a blog</h2>
        <div class="d-none d-sm-block mt-2">
          <button type="button" class="btn btn-highlight" routerLink="/blog">See more</button>
        </div>
      </div>
    </div>
  </div>
</section>
